@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-toolbar.ql-snow {
    border: none !important;
    position: sticky !important;
    background-color: white;
    top: 0px;
    width: 100%;
    z-index: 99 !important;
  }

  .ql-container.ql-snow {
    border: none !important;
    overflow: hidden !important;
    outline: none !important;
  }

  .ql-container.p{
    outline: none !important;
  }

  .animate {
    @apply transition-all duration-300;
  }

  *::-webkit-scrollbar {
    width: 2px !important;
  }
  
 *::-webkit-scrollbar-track {
    background: none !important;
  } 
  
  *::-webkit-scrollbar-thumb {
    background:none !important;
  }
  